<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS Blog</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  {{!-- <link rel="stylesheet" href="/css/"> --}}
</head>
<body>
    <section class="hero is-dark">
    <div class="hero-head">
      <nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <h1 class="web-header title">The Tech Talk</h1>
            <span class="navbar-burger" aria-label="menu" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item has-text-white-bis has-background-dark" href="/">Home</a>
              <a class="navbar-item has-text-white-bis has-background-dark" href="/blog/add">
                Dashboard
              </a>
              <a class="navbar-item" href="/login">
                Log In
              </a>
              {{#if loggedIn}}
              <button class="navbar-item button has-background-grey-light" id="logout">Logout</button>
              {{/if}}
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
    {{!-- <section>
        <div class="columns">
            <div class="column is-three-fifths">
                <h1>The Tech Talk</h1>
            </div>
            <div class="column is-two-fifths">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-end">
                        <a class="navbar-item">
                            Home
                        </a>
                        <a class="navbar-item">
                           Dashboard
                        </a>
                        <a class="navbar-item">
                           Login
                        </a>
                        {{#if loggedIn}}
                        <button class="button is-link">Logout</button>
                        {{/if}}
                    </div>
                </nav>
            </div>
    </section> --}}
<section>
    {{{body}}}
</section>
  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

</html>