<section>
    <h1>Your Posts</h1>
    {{#each posts as |post|}}
    <div class="card">
        <a href="/blog/{{id}}">
            <header id="user-name">{{user.name}}</header>
            <div class="card-content">
                <p>{{post.post}}</p>
            </div>
        </a>
    </div>
    {{/each}}
    <div>
        <a href="blog/add">
            <button id="new-post" class="button" type="submit">New Post</button>
        </a>
    </div>
</section>