<section>
    <div class="control">
        <h3>Title</h3>
        <textarea id= "blog-title "class="textarea" placeholder="Blog Title"></textarea>
    </div>
    <div class="control">
        <h3>Content</h3>
        <textarea id = "blog-post"class="textarea" placeholder="Blog Post"></textarea>
    </div>
    <button id= "add-blog" class="button" type="submit">Add Post</button>
    <script src="/js/blogPost.js"></script>
</section>