<section>
    {{#each allBlogs as |blog|}}
    <div class="card">
        <a href="/blog/{{id}}">
            <header id="user-name">{{name}}</header>
            <div class ="card-content">
                <p>{{post}}</p>
            </div>
        </a>
    </div>
    {{/each}}
</section>