:root {
    --dark: rgb(58, 53, 53);
    --light: white;
    --grey: grey;
}

html {
    background-image: url('/images/AdobeStock_296774814.jpeg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.descriptive-text {
    font-size: medium;
    padding-top: 20px;
}
#logout {
    margin-top: 20px;
    color: var(--dark)
}
.container {
    justify-content: center;
    align-items: center;
}

.blog-text {
    color: var(--dark);
    font-weight:bold;
    color: var(--dark);
}

.blog-text:hover{
    color:var(--grey);
}

.blog-card {
    padding: 20px;
    margin: 10px;
    border-style:double;
    border-width:10px;
    border-color: var(--grey);
    border-radius: 10px;
    opacity: 0.95;
}
#new-post {
    padding: 30px;
    font-weight:bold;
    font-size: larger;
}

.dashboard-content{
    margin: 20px;
    padding: 10px;
    border-style:double;
    border-width:10px;
    border-color: var(--grey);
    border-radius: 10px;
}

.dashboard-button{
    padding: 20px;
    font-weight:bold;
}

.your-post{
    margin-bottom: 20px;
    font-weight:bold;
    color: var(--dark);
}

.comment-section{
    padding:20px;
    opacity:0.9;
}
.comment-post{
    color: var(--dark);
    font-weight:bold;
    color: var(--dark);
}
.comment-title{
    color: var(--dark);
    font-weight:bold;
}
#add-comment{
    padding: 20px;
    font-weight:bold;
}

.comment-list{
    list-style-type:disc;
    font-weight:bold;
    color: var(--grey);

}
#blog-title{
    margin-bottom:10px;
}
#blog-post{
    margin-bottom:10px;
}

#add-blog{
    padding: 20px;
    font-weight:bold;
}

#update-blog{
    padding: 20px;
    font-weight:bold;
}
.dashboard-content{
    opacity: 0.9;
}
.panel-block {
   background-color:aliceblue;
   font-family: 'Courier New', Courier, monospace; 
   font-weight: bold;
}
.btn-primary {
    padding:10px;
    border-radius: 10px;
    font-weight: bold;

}