<section>
    {{#each blogs as |blog|}}
    <div class="card">
        <a href="/blog/{{id}}">
            <header id="user-name">{{user_name}}</header>
            <div class ="card-content">
                <p>{{post}}</p>
            </div>
        </a>
    </div>
</section>